---
import Info from "../components/Info.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title='Welcome to Astro.'>
	<main>
		<h1>Welcome to <span class='text-gradient'>Astro</span></h1>
		<Info
			href='https://docs.astro.build/'
			title='Documentation'
			body='Learn how Astro works and explore the official API docs.'
		/>
	</main>
</Layout>
